<ul class="timeline">
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">O menino do Tinder</span>
        <span class="time-wrapper">
          <span class="time">27/12/2017</span>
        </span>
      </div>
      <div class="desc">
        Tudo começou com um "Oi, eu sou o Mateus", e depois de várias conversas nos conectamos de
        tal forma que tudo que acontecia precisávamos contar um para o outro.
      </div>
    </div>

  </li>

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">Nosso primeiro beijo</span>
        <span class="time-wrapper">
          <span class="time">09/02/2018</span>
        </span>
      </div>
      <div class="desc">
        Parece que foi ontem que estávamos indo no carnaval de Roseira. AH este dia haha... Mas perdemos no valo velho e
        depois de lutarmos tanto para chegar, acabamos dormindo no culto, foi hilário. Ao voltarmos ele faz a pergunta
        "Quer namorar comigo?" ela toda
        tímida responde "sim, aceito" ele ainda continua "mas antes de dar o primeiro beijo vamos pedir a benção de
        Deus" e assim foi feito.
      </div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">Dia das mulheres</span>
        <span class="time-wrapper">
          <span class="time">08/03/2019</span>
        </span>
      </div>
      <div class="desc">
        Dia que trouxe a certeza para ela que ele seria o par perfeito para o enfim casados. Neste dia após um dia
        cansativo de trabalho ele chega com um arranjo de flores e chocolate, todo tímido e sem jeito entrega os
        presentes e diz o quanto ela é especial,
        linda e sobre seu desejo de estar sempre ao seu lado.
      </div>
    </div>
  </li>



  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">O pedido de casamento</span>
        <span class="time-wrapper">
          <span class="time">25/09/2021</span>
        </span>
      </div>
      <div class="desc">
        Que dia incrível ... Naquele dia já estava tudo sendo preparado com todo amor e carinho por ele. Ela quando chega na
        pousada se depara com uma decoração simples, caminho de petalas de rosas e um singelo pedido escrito na parede, "Quer se casar comigo?".
        Foi um dia especial para nós e principalmente para ela, por ser uma surpresa desde o ínicio.
      </div>
    </div>
  </li>
  <!-- <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">O</span>
                <span class="time-wrapper">
                    <span class="time">14/11/2021</span>
                </span>
            </div>
            <div class="desc">
                Quer saber o final? então acompanha a contagem regressiva ...  </div>
        </div>

    </li>

    <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="flag">Historia 6</span>
                <span class="time-wrapper">
                    <span class="time">17/02/2019</span>
                </span>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales tellus in lorem molestie, nec maximus mi semper. Maecenas vitae turpis vel turpis placerat finibus. Aenean malesuada leo vitae lorem tincidunt vulputate. Etiam vehicula risus quis
                auctor sagittis. Nam tristique mi nec faucibus semper. Sed pulvinar arcu laoreet, euismod mauris non, tristique nisi. Aenean vulputate tempor erat nec vulputate. Nam id ex at lectus condimentum cursus. Donec eu nulla posuere, accumsan
                tellus at, malesuada dui. </div>
        </div>
    </li> -->
</ul>
